.order-wrapper{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width:100%;
    height:120px;
    background-color:white;
    
    border: 2px solid black;
    border-radius: 10px;
    .product-image{
        width: 150px;
        margin: 5px;    
        height: 95%;

        .image{
            width: 100px;

            height:95%;          
            object-fit: contain;   
            display: block;
            margin: 0 auto;         
            border: 1px solid black;
            border-radius:5px;
        }
        
    }
    .product-info{
        width:100%;
        align-items: flex-start;
        .amount{
            display:flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap:5px;
            input{
                width:4rem;
                height:auto;
            }
        }
    }
}