<div class="wrapper">
    <div class="title">
        <h1>Week 4: Develop full Web application using Angular and .NET Core.</h1>
        <div class="summary-section">
            <p>
                Now the time for some fullstack stuffs. Getting familiar with how to connect Frontend and Backend.
            </p>
        </div>
    </div>
    <hr class="divider">
    <div class="goals">
        <h2>Goals:</h2>
        <app-checklist [storageKey]="'week4'"></app-checklist>
    </div>
    <hr class="divider">
    <div class="main-content">
        <section class="call-api">
            <h2>Call Web API</h2>
            <p>In Angular, we call API by using HttpClientModule. First we register HttpClientModule in the app</p>
            <app-script-widget 
                title="app.config.ts"
                [content]="appConfigTsHtml"
            />
            Then inject it into the services for calling API
            <app-script-widget 
                title="service.ts"
                [content]="serviceInjectHtml"
            />
            This is example of calling a simple API endpoint.
            <app-script-widget 
                [content]="sayHElloHtml"
            />
            <p>
                A HttpClient instance provide methods GET, POST, PUT, DELETE,... and will return an Observable object with generic type T.
                Observable objects are lazy, so we need to subcribe to them otherwise they never send HTTP request.
            </p>
            <app-script-widget 
                [content] = "callHeloHtml"
            />
            <div class=call-api-exp>
                <button (click)="callHello()">Say Hello</button>
                <p>Response: {{hello()}} </p>
            </div>
            <h3>CORS Policy</h3>
            <p>CORS stands for Cross-Origin Resource Sharing.
                It is a security mechanism built into web browsers that controls whether a web page 
                from one origin (domain) is allowed to access resources from a different origin.</p>
            <p>
                We have to allow our front end server to request API.
            </p>
            <p>Adding CORS Policy</p>
            <app-script-widget 
                title="Program.cs"
                [content]="corsPolicyHtml"
            />
            <h2>Handle return data and errors</h2>
            <p>After sending http reqeust, we have to handle the response, and possible errors</p>
            <p>To do that, inside subcribe block, we use callback functions 'next' and 'error'</p>
            <app-script-widget 
                [content]="subscribeHtml"
            />
            
        
        </section>
    </div>
</div>
