<div class="wrapper">
    <div class="title">
        <h1>Week 4: Develop full Web application using Angular and .NET Core.</h1>
        <div class="summary-section">
            <p>
                Now the time for some fullstack stuffs. Getting familiar with how to connect Frontend and Backend.
            </p>
        </div>
    </div>
    <hr class="divider">
    <div class="goals">
        <h2>Goals:</h2>
        <app-checklist [storageKey]="'week2'"></app-checklist>
    </div>
    <hr class="divider">
    <div class="main-content">

    </div>
</div>
