.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    
    .logo{
        padding-left:3rem;
        img{
            height:10vh;
            width:auto;
            object-fit:contain;
            scale: 3;
            overflow-y:hidden;
        }
    }
}