.footer{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20vh;
    width: 100vw;
    font-size: var(--small-font);
    font-weight: var(--font-regular);
    background-color: black;
    margin-top:10px;
    .logo{
        padding-left:3rem;
        img{
            height:10vh;
            width:auto;
            object-fit:contain;
            scale: 3;
            overflow-y:hidden;
        }
    }
}