<nav class="navbar">
  <div class="navbar-logo">
    <img src="/logo.png" alt="My App Logo" />
  </div>

  <ul class="navbar-links">
    <li>
      <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </li>
    <li>
      <a routerLink="/products" routerLinkActive="active">Products</a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active">About</a>
    </li>
  </ul>

  <div class="navbar-actions">
    @if (isAuthenticated()) {
      <!-- User avatar, dropdown, logout button -->
      <div class="user-actions-wrapper">
        <mat-icon routerLink="/cart">add_shopping_cart</mat-icon>
        <mat-icon>notifications</mat-icon>
        <div class="avatar-container">
          <span class="avatar-span">
            <img src="/tea.png" alt="avt" />
            <a class="name" [routerLink]="'/user/' + currentUser()?.userId">
              {{ currentUser()?.username }}
            </a>
          </span>
          <div class="dropdown">
            <a [routerLink]="'/user/' + currentUser()?.userId">Profile</a>
            <a>Favorites</a>
            <a>Billings</a>
            <a>Notifications</a>
            <button class="logout-button" (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    } @else {
      <button routerLink="/login">Login</button>
      <button routerLink="/register">Register</button>
    }
  </div>
</nav>
