.sidebar-wrapper{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  left: 0;
    .searchbar{
        min-width: 200px;
    }
    .selector{
      margin: 1px 0;
      padding: 3xp;
      margin: 0;
    }
    .example-section {
    margin: 12px 0;
}

    
}