

 	<div class="product-card">
		<div class="badge">Hot</div>
		<div class="product-tumb">
			<img src={{product.imageUrl}} alt={{product.imageAlt}} loading="lazy">
		</div>
		<div class="product-details">
			<span class="product-catagory">
            {{product.catagory.join(',')}}
            </span>
			<h4><a [routerLink]="'/products/' + product.id">{{product.name}}</a></h4>
			<!-- <p class="description">{{product.description}}</p> -->
			<div class="product-bottom-details">
                @if(product.isDiscount) {
                    <div class="product-price"><small>{{product.price}}</small>{{product.discountPrice}}</div>
                } @else {
                    <div class="product-price">{{product.price}}</div>
                }
				
				<div class="product-links">
					<a (click)="addToCart(product)"><mat-icon>add_shopping_cart</mat-icon></a>
					<a><mat-icon>favorite</mat-icon></a>
				</div>
			</div>
		</div>
	</div>

