.product-layout {
  display: grid;
  grid-template-columns: 240px 1fr;
  min-height: 100vh;
  background-color: #f8f8f8;

  .sidebar {
    background-color: var(--primary-color);
    padding: 1rem;
    border-right: 2px solid #ddd;

    .searchbar {
      margin-bottom: 1.5rem;
      
      input.field {
        width: 100%;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 4px;
        font-size: 1rem;
        outline: none;
      }
    }

    .filter-section {
      color: var(--text-color-light);
      font-size: var(--normal-font);
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      h3 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        color: var(--text-color-light);
      }

      .filter-option {
        margin-bottom: 0.75rem;
        color: var(--text-color-light);
        label {
          cursor: pointer;
        }
      }
    }
  }

  .product-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;

    .toolbar {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;
      gap: 1rem;

      h2 {
        font-size: 1.5rem;
        color: #223322;
        font-weight: 600;
        margin: 0;
      }

      select {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border-radius: 4px;
        border: 1px solid #ccc;
        outline: none;

        &:focus {
          border-color: #90a885;
        }
      }
    }

    .product-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      gap: 1.5rem;
    }
  }
    .pagination-controls {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 2rem;

    button {
      padding: 0.5rem 1rem;
      border: none;

      cursor: pointer;

      &.active {
        font-weight: bold;
        background-color: var(--accent-color);
        color: white;
      }

      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }
  }
}
@media (max-width: 768px) {
  .product-layout {
    grid-template-columns: 1fr;

    .sidebar {
      border-right: none;
      border-bottom: 2px solid #ddd;
    }
  }
}
