<div class="product-layout">
  <aside class="sidebar">
    <app-searchbar></app-searchbar>

    <div class="filter-section">
      <h4>Filter by Category</h4>
      @for (cat of categories; track cat) {
        <label>
          <input type="checkbox" [value]="cat" (change)="onFilterChange($event)" />
          {{ cat }}
        </label>
      }
    </div>
  </aside>

  <section class="product-content">
    <div class="toolbar">
      <h2>Featured Products</h2>
      <select (change)="onSortChange($event)">
        <option value="default">Sort by</option>
        <option value="priceLowHigh">Price: Low → High</option>
        <option value="priceHighLow">Price: High → Low</option>
        <option value="nameAZ">Name: A → Z</option>
        <option value="nameZA">Name: Z → A</option>
      </select>
    </div>

    <div class="product-grid">
      @for (product of paginatedProducts(); track product.id) {
        <app-product-card [product]="product" />
      }
    </div>
    @if (totalPages > 1) {
      <div class="pagination-controls">
        <button (click)="goToPage(currentPage() - 1)" [disabled]="currentPage() === 1">
          Previous
        </button>

        @for (i of totalPageArray(); track i) {
          <button 
            (click)="goToPage(i)" 
            [class.active]="currentPage() === i">
            {{ i }}
          </button>
        }

        <button (click)="goToPage(currentPage() + 1)" [disabled]="currentPage() === totalPages">
          Next
        </button>
      </div>
    }

  </section>
</div>