

.product-list{
  
 

  // Main product grid
  .main-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: auto;
    row-gap: 0.6rem;
    column-gap: 0.6rem;
    padding-top: 0.6rem;
    align-items: stretch;
  
    // Optional: Add fade-in or animation later
  }
}
