@if (product) {
  <div class="product-detail">
    <div class="left">
        <h2>{{ product.name }}</h2>
        <div class = "image-wrapper">
            <img [src]="product.imageUrl" [alt]="product.imageAlt" />
        </div>
    </div>
    <div class="right">
      
        <p class="tag">{{ product.catagory.join(', ') }}</p>
        @if(product.isDiscount) {
                    <div class="product-price"><small>{{product.price}}</small>{{product.discountPrice}}</div>
                } @else {
                    <div class="product-price">{{product.price}}</div>
                }
        <p class="description">{{ product.description }}</p>
        <button mat-flat-button color="primary">Add to Cart</button>
        <div class="amount-button">
            <button><mat-icon>add</mat-icon></button>
            <input type="text" name="amount" id="amount" placeholder="0">
            <button><mat-icon>remove</mat-icon></button>
        </div>
    </div>
  </div>
} @else {
  <app-page-not-found></app-page-not-found>
}
