
.profile-wrapper{
    display:flex;
    justify-content: center;
    padding: 10px;
    flex-direction: row;
    gap:2vh;
    .left-container{
        width: 20vw;
        height: 60vh;
        background-color: #d8dbdf;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: 2px solid black;
        border-radius: 10px;
        .avatar-image{
            padding-top:4px;
            
            img{

                width: 120px;
                height:120px;
                object-fit: cover;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4); // soft shadow
                transition: transform 0.3s ease, box-shadow 0.3s ease;
                border-radius: 50%;
                background-color:whitesmoke;
                &:hover{
                    transform: scale(1.05);
                    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
                }
            }
        }
        .name{
            display:flex;
            flex-direction: row;
            justify-content: center;
            font-size: var(--regular-font);
            font-weight: var(--font-bold);
            color: var(--primary-color-dark);
        }
    }
    .right-container{
        width: 70vw;
        min-height: 80vh;
        border: 1px solid black;
        border-radius: 10px;
        background-color: #d8dbdf;
        
        .upper{
            display:flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: flex-start;
            height:30vh;
            padding: 0.5rem;
            
            .info-container{
                display:flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                width:30%;
                gap: 0.5rem;
                .input-block{
                    display:flex;
                    flex-direction: column;
                    width:100%;
                    border: 1px solid black;
                    border-radius: 10px;
                    label{
                        padding-left: 6px;
                        min-height:1rem;
                    }
                    span{
                        padding-left:6px;
                        min-height:1rem;
                    }
                    input{
                        border:none;
                        border-bottom-left-radius:10px;
                        border-bottom-right-radius:10px;
                        min-height:1.5rem;
                        height:auto;
                        padding-left: 6px;
                        &:focus{
                            border:none;
                            outline:none;
                             box-shadow: none;
                        }
                    }

                }
            }
            .favorite-list{
                background-color:white;
                width:60%;
                height: 100%;
                border-radius: 10px;
                
            }
        }
        .history{
            padding:0.5rem;
            width: 100%;
            min-height: 40vh;
            height:auto;
            background-color: whitesmoke;
        }
    }
}