.wrapper{
    margin: 5px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    .title{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .summary-section{
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--text-color);
            font-size: var(--small-font);
        }
    }
    hr{
        border: none;
        border-top: 1px solid #ccc;
        margin: 1rem 0;
        width: 100%;
    }
    .main-content {
        margin: 5px;
        
        section{
            padding: 0;
            margin: 0;
            ul{
                list-style-type: disc;
                padding-left: 1.5rem;
            }
            img{
                display: block;           
                max-width: 90%;          
                width: 90vw;             
                height: auto;             
                object-fit: contain;      
                margin: 0 auto;           
                padding: 1rem;
            }
        }
        .asp-net-core{
            .app-structure{
                
                padding: 5px;
            }
            .app-structure ul {
                list-style-type: none;
                font-family: monospace;
                line-height: 1.6;
            }
                .app-structure li {
                margin-left: 1rem;
                position: relative;
            }
                .app-structure li::before {
                content: "📁 ";
                position: absolute;
                left: -1.2rem;
            }
                .app-structure li:has(ul)::before {
                content: "📂 ";
            }
                .app-structure li:not(:has(ul))::before {
                content: "📄 ";
            }
        }
    }
}
